fastapi
uvicorn[standard]
python-dotenv
python-jose[cryptography]
bcrypt
passlib
python-multipart
aiohttp
pydantic
pydantic-settings
websockets
prisma
clamd
Pillow
stegano
pydantic[email]
watchdog
groq
psutil
numpy
scipy
